<%- include('header') %>

  <div class="d-flex justify-content-center">
    <form method="GET" action="/cotacao">
      <input class="form-control" name="cotacao" placeholder="Cotação dolar"><br />
      <input class="form-control" name="valor" placeholder="Valor em dolares"><br />
      <button class="mx-5 btn btn-secondary">Converter!</button>
    </form>
  </div>

  <%- include('footer') %>